body {
    font-family: 'Arial', sans-serif;
    background-image: url('hatter.png');
    background-size: cover; /* hogy a kép kitöltse a háttért */
    color: white; /* Szöveg színe */
    text-align: center; /* Szöveg középre igazítása */
    margin: 0;
    padding: 0;
    font-size: 1rem; /* Alap betűméret, ami könnyen átméretezhető */
}

h1, h2 {
    font-weight: bold;
}

ul {
    padding: 0;
}

.navbar {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block; /* Váltás blokkról inline-blokkra a középre igazításhoz */
}

.navbar li a {
    display: block;
    color: #FFF; /* Linkek alapszíne */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:visited {
    color: #DDD; /* Már meglátogatott linkek színe */
}

.navbar li a:hover, .navbar li a:focus {
    background-color: #111;
    color: #FFF;
}

/* Linkek aláhúzása, kivéve a navigációs menüt */
a:hover{
    color: #000;
}
a:visited {
    color: rgb(14, 21, 111);
}

@media screen and (max-width: 600px) {
    .navbar li {
        display: block; /* Visszaváltás blokkra kisebb kijelzőknél */
    }
}

@media print {
    body, article, section, p, ul, li, a {
        color: #000; /* Fekete szöveg nyomtatáskor */
        text-align: left; /* Balra igazítás nyomtatáskor */
    }

    header, nav, aside, footer, .navbar, figure, img {
        display: none;
    }

    main {
        width: 100%;
        padding: 0;
    }
}

.image-gallery img {
    width: 500px; /* A képek szélessége pontosan 500px lesz */
    height: auto; /* A magasság automatikusan alkalmazkodik a meghatározott szélességhez */
}
