body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to bottom, #138279, #148c86); /* Példa átmenet, színeket saját ízlés szerint állíthatja be */
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

h1, h2 {
    font-weight: bold;
}

.navbar {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover, .navbar li a:focus {
    background-color: #111;
}

form {
    text-align: left;
    width: 90%;
    max-width: 600px;
    margin: 0 auto; /* A formot középre igazítja */
}

.form-group, .form-actions {
    margin-bottom: 20px;
}

.form-group label, .form-actions {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%; /* Fix szélesség */
    padding: 10px;
    box-sizing: border-box; /* A padding és border is beleértendő a szélességbe */
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block; /* Gombok egymás mellett */
}

.options label, .options input {
    display: inline; /* Opciók egymás mellett */
}

@media screen and (max-width: 600px) {
    .navbar li {
        display: block;
    }
}

#aktiv{
    color: gold;
}